* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;   
    font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100vw;
    background-color: #6BAFD2;
    position: relative;
    background: url(/images/photo-1533113354171-490d836238e3.avif);
    object-fit: cover;
    object-position: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main-content {
    display: flex;
}
.container {
    width: 93%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

header h5 {
    font-weight: 200;
    letter-spacing: 2px;
}

.right {
    display: flex;
    align-items: center;
}

.right i {
    font-size: 40px;
    margin-right: 14px;
}

.right-2 h5 {
    margin-left: 35px;
}

.left i {
    font-size: 26px;
    margin-right: 30px;
}

.lefty {
    height: 100%;
    width: 50%;
    padding-top: 85px;
}

.text>h2 {
    font-size: 5rem;
    line-height: 3.9rem;
}
 
.text>p {
        padding-top: 2rem;
        word-spacing: 2px;
    }


.end-1 {
    height: 60px;
    width:190px;
    background-color: white;
    border-radius:33px;
    display: flex;
    align-items: center;
    margin-top: 8rem;
}

.text-2 h5 {
    color: black;
    font-size: 9.5px;
    font-weight: 100;
    transition: all 0.3s;
    cursor: pointer;
}

.circle {
    background-color: pink;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 12px 0 6px;
    padding: 10px 10px;
    transition: all 0.3s;
}

.circle:hover {
    background-color: rgb(230, 50, 80);
}

.text-2 h5:hover {
    font-weight: 900;
}

.circle i {
    font-size: 30px;
}

.end-text {
    color: black;
    font-size: 14px;
}

.righty {
    height: 100%;
    width: 50%;
    padding: 3rem 0 0 23rem ;
}

.text-3 h1 {
    font-size: 8rem;
}

.text-3 h4 {
    word-spacing: 2px;
    font-weight: 200;
}

/* -------------------------------- */

.data-1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.data-1-1 {
    display: flex;
    align-items: center;    
}

.data-1-1 h5 {
    margin-right: 37px;
}

.data-1 h5 {
    margin-right: 30px;
}

.center {
    position: absolute;
    left: 52%;
    top: 35%;
}

.weth-icons {
    margin-top: 2rem;
}

.weth-icons i {
    font-size: 1.5rem;
}



/* ------------------ */
html,
body {
  /* width: 100%;
  height: 100%; */
  background-color: #121215;
}

.solar-system {
  position: relative;
  width: 30rem;
  height: 8rem;
  margin-top: 5rem;
}

/* Some positioning rules that are common for all objects */
.orbit {
  border: 1px dashed #666;
}

#sun,
.orbit,
.orbit + div,
.orbit + div > div {
  position: absolute;
}

#sun,
.orbit,
.orbit + div {
  /* top: 50%;
  left: 50%; */
}
.orbit + div > div {
  top: 0;
  left: 50%;
}

.orbit,
.orbit + div div,
#earth {
  border-radius: 50%;
}

/* Individual objects rules. They are pretty much the same for 
all objects and basically only vary in orbit size 
and planet size. And colors :) */

#sun {
  /* Positions the top-left corner of the image to be *
	/* in the middle of the box */
  height: 200px;
  width: 200px;
  background-color: #fae20a;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  box-shadow: 0 0 84px orange;
}

#earth {
  position: absolute;
  top: 0;
  left: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  box-shadow: 0 0 34px #3a4385;
}

.earth-orbit,
.earth-spin {
  width: 22.5rem;
  height: 21.5rem;
  margin-left: -11.4rem;
  margin-top: -10.6rem;
}

#moon {
  margin-top: -6px;
  margin-left: -6px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 14px #3a4385;
}
.moon-orbit,
.moon-spin {
  height: 90px;
  width: 90px;
  margin-top: -45px;
  margin-left: -45px;
  border-color: #447;
}





/* Spinning animations */

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

.earth-spin {
  animation: spin-right 36.5s linear infinite;
}
.moon-spin {
  animation: spin-right 3s linear infinite;
}

/* CLOUDY */
/* --------------------- */
